:root {
    --primary-color: #3f6f5e;
    --secondary-color: #9fbeb1;
    --emphasis-color: rgb(235, 184, 17);
    --text-color-on_backgroungd: #efeae3;
    --text-color: #0e2a3b;
    --header-color: #2f4f66;
    --heading-font: "Raleway";
    --body-font: "Merriweather";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--text-color-on_backgroungd);
    margin-bottom: 20px;
}

#header-logo {
    margin: 1rem 2rem;
    width: 200px;
    height: auto;
}

h1,
h2,
nav {
    font-family: var(--heading-font);
    color: var(--header-color);
}

h1 {
    text-align: center;
}

iframe {
    width: 350px;
    height: 350px;
}

h2 {
    background-color: var(--text-color-on_backgroungd);
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--header-color);
    padding: 20px;
    font-size: 1.2rem;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.sale p {
    margin: 0 auto;
    padding: 4px;
    text-align: center;
}

.history-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-evenly;
}

.history-div img {
    margin: 0 auto;
    padding-top: 20px;
    width: 200px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
    padding: 16px;
    background-color: var(--primary-color);
    color: white;
    opacity: 0.9;

}

.hero article {
    position: absolute;
    text-align: center;
    top: 100px;
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
}

.exciting article {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    /* align-items: center; */
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    /* font-size: 1.5rem; */
}

h3 {
    margin: 20px;
}

.exciting article img {
    float: left;
    /* margin-top: px; */
    border: 3px solid rgb(0 0 0 / .3);
    box-shadow: 0 0 460px var(--text-color-on_backgroungd);
}

.exciting form {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.sale {
    width: 200px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: var(--emphasis-color);
    border: 1px solid #000;
    padding: 0.3rem;
    box-shadow: 0 0 20px #111;

}

.adventures-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}

figure {
    width: 120px;
    margin: 15px;
}

.adventures-div img {
    padding-top: 20px;
    width: 120px;
    height: auto;
    align-items: center;
    border-bottom: 4px solid var(--text-color);
}

.employees-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.employees-div img {
    padding-top: 20px;
    width: 120px;
    height: auto;
    align-items: center;
    border-bottom: 4px solid var(--text-color);
}

figcaption {
    text-align: center;
}

.info {
    font-family: var(--heading-font);
    color: var(--header-color);
    text-align: center;
    font-size: 1.25rem;
    margin: 20px auto;
    width: 840px;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 50px;
}

.column1 {
    display: grid;
    grid-template-columns: 1fr;
}

form {
    display: grid;
    font-family: var(--body-font);
}

.form-item {
    margin: 0 auto;

}

.text-input {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.call aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 50px auto;
    font-size: larger;
    box-shadow: 0 0 20px #111;
    padding: 35px;
    text-align: center;
    align-items: center;
}

.call aside img {
    margin: 0 auto;
    border: 3px solid rgb(0 0 0 / .3);
    width: 200;
    height: auto;
}

.action a {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color)
}

input,
select,
button {
    font-size: 1rem;
    padding: 5px;
    width: 300px;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color-on_backgroungd);
    margin: auto;
    font-size: 1.25rem;
}

button:hover {
    background-color: var(--secondary-color);
}

.column1 {
    padding: 5px;
    width: 360px;
    margin-left: 20px
}

.radio-div {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

label {
    text-align: left;
    padding-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 2px auto;
    float: left;
}

footer img {
    margin-bottom: 200px;
    width: 30px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
}

footer p {
    grid-column: 2;
    justify-content: center;
}

footer a {
    margin: 2px;
}