* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 650px;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    text-align: center;
    padding: 10px;
    border-bottom: 5px solid darkgray;
}

form {
    display: grid;
    background-color: #edebed;
    margin: 20px auto;
    border: 1px solid black;
    padding: 20px;
}

.form-item {
    margin: 0 auto;
    padding: 10px 20px;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
}

input,
textarea,
select,
button {
    font-size: 1.5rem;
    padding: 5px;
    width: 500px;
    margin: 5px auto;
}

fieldset {
    margin: 10px auto;
    width: 550px;
    border: none;
}

legend {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    font-size: 2rem;
}

label {
    text-align: center;
}

button {
    background-color: indigo;
    color: white;
    margin-top: 40px;
}

button:hover {
    background-color: darkgray;
}

footer {
    text-align: center;
    margin: 10px auto;
}