nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.3);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 3px;
    box-shadow: 0 0 30px gray;
}

aside {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 3px;
    background-color: grey;
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}