.callout {
    color: white;
    background-color: #247;
    max-width: 400px;
    margin: 10;
    padding: 15px;
    border: 1px solid rgb(0 0 0 / 0.1);
}

.callout img {
    float: right;
    margin: 0 0 10px 15 px;
    border: 1px solid black;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: 100px;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted lightgray;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}