* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
}

section {
    background-color: lightgray;
    padding: 15px;
    margin: 20px 0;
}

h2 {
    border-bottom: 1px solid black;
}

p {
    margin: 10px 20px;
}

ul {
    margin: 10px 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}